<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.markdown</string>
				<string>net.daringfireball.markdown</string>
				<string>net.ia.markdown</string>
				<string>com.unknown.md</string>
				<string>io.tuszik.md-preview.mdown</string>
				<string>io.tuszik.md-preview.mkd</string>
				<string>io.tuszik.md-preview.mkdn</string>
				<string>io.tuszik.md-preview.mdwn</string>
				<string>io.tuszik.md-preview.mdtxt</string>
				<string>io.tuszik.md-preview.mdtext</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
